@import "node_modules/bootstrap/scss/bootstrap";
@import url("http://fonts.googleapis.com/css?family=Nunito:400,300,700");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&family=Nunito:wght@200&display=swap');

$theme-colors: (
  "primary": #038aff,
  "light": #fff,
);

body{color:#172c5b;}
.shadow-sm {box-shadow: 0 0 1.25rem rgb(31 45 61 / 5%)!important;} 
.font-size-sm{font-size:1rem;}

@media screen and (max-width: 992px) {
    .card-img-position{
        position:relative!important;
        right:0!important;
        top:0!important;
    }
};

.btnApp{
    .cardSubtitle{font-size:13px;}
    .cardSubtitleBig{font-size:22px;}
    &:hover{
        color:white;
    }
}

h5{line-height: 1.9!important;}

h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight:700!important;
}

.navbar-dark .navbar-nav .nav-link {color: rgba(255, 255, 255, 0.8);}
.navbar {width:100%; z-index:100000; font-weight:500;}

.managementCards {
    border-radius: .75rem .75rem 5rem .75rem!important;

    .card-background {
        background: url("img/card_background.svg") no-repeat;
        background-size: auto 100%;
        background-position: left top;
        width:100%;
        height:100%;
    }

    .card-body {z-index:100; padding:2rem!important;}
}
.cardSubtitle {display:block;}

.rounded-lg{border-radius: 0.8rem !important;}
.textUnderlineDash {
    border-bottom: 1px dashed!important;
        &:hover{
            text-decoration:none;
        }
}

.separatorBackground, .separatorBackgroundBlue {
    position:absolute;
    bottom:-1px;
    left:0;
    right:0;
    width:100%;
    transform: translateZ(0);
}

.separatorBackgroundBlue{top:-1px;}

.card-img-position{
    position:absolute;
    top: -6rem;
    right: -6rem;
    z-index: 100;
}

.avatar img {
    margin-left:-10px;
    border:2px solid white;
}

.interactions{
    border-top: 1px solid;
    border-image : linear-gradient(300deg, rgba(78, 78, 78, 0) 20%, rgb(189, 189, 189) 48%, rgba(141, 141, 141, 0) 100%) 1;
}

.footerSeparator{
    border-bottom: 1px solid;
    border-image : linear-gradient(135deg, rgba(78, 78, 78, 0) 20%, #bdbdbd45 48%, rgba(141, 141, 141, 0) 100%) 1
}

.cta {
    border-bottom:3px solid $primary;
    &:hover{
        text-decoration:none;
    }
}

.jumbotron {border-radius: 0rem 5rem 0rem 5rem!important;}
.awards {
    background-color:#fafbff;

    .ctaAwards{
        &:hover{text-decoration: none;}
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            bottom: 40px;
            width: 34%;
            height: 3px;
            background-color: #161348;
            margin-left: -17%;
        }
    }

    .brandLink:hover{
        text-decoration: none;

        .card {
            box-shadow: 0 1rem 3rem rgb(0 0 0 / 13%) !important;     
            -webkit-transition: all 300ms ease-out;
            -moz-transition: all 300ms ease-out;
            -ms-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
        }
    }

}


.accordion{
    .card{
        border:1px solid rgba(0, 0, 0, 0.05)!important;
    }

    .btn-link{box-shadow: none;}

    .btn-link:hover, .btn-link:focus{text-decoration:none;}

    .btn-link:after{
        content: "−";
        width: 25px;
        font-size: 14px;
        text-align: right;
        position: absolute;
        right: 20px;
        top: 20px;
        font-family: "Nunito Sans",sans-serif
    }

    .btn-link.collapsed:after {
        content: "+"!important;
    }
}

.text-white-opacity{color:rgba(255, 255, 255, 0.7)}
footer ul li a:hover{
    text-decoration: none;
    color:white;
}

.secondSection .ctaPlay, .fourthSection .ctaPlay{
    top:10px;
    left:30px;
}

.firstSection .ctaPlay{
    top:10px;
    right:0px;
}

.back-to-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.firstSection::before, .secondSection::before, .thirdSection::before{
    content: "";
    display: block;
    width: 500px;
    height: 61px;
    background: url(img/path_separator.svg);
    background-size: 420px 60px;
    position: absolute;
    margin: auto;
    left: -110px;
    right: 0;
    bottom: -164px;
    transform: rotate(49deg);
}

.secondSection::before{
    transform: rotate(327deg);
    left: 270px;
    right: 0;
    bottom: -114px;
}